body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(../bg.jpg);
    background-size: cover;
}
.box{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    /* height: 40px; */
    background: rgba(117, 54, 54, 0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(157, 114, 114, 0.5);
    border-radius: 10px;
}
.box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.box .inputBox{
    position: relative;
}

.box .inputBox input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border:none;
    border-bottom: 1px solid #fff;;
    outline: none;
    background: transparent;
}

.box .inputBox label {
    /*absolute만 적용했을때, 어디에 붙어있는건지 모르겠음*/
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

/*
.box 클래스 안에 있는 .inputBox 클래스의 자손 요소 중,
input 요소가 focus 상태일 때,
그 input 요소와 같은 부모를 가진 뒤에 오는 모든 label 요소를 선택합니다.
*/

.box input[type="submit"] {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}